.mainsection{
    width: 100%;
    height: auto;
}


.body-container{
    display: flex;
    flex-direction: column;
}


.Products-list{
    width: auto;
    height: auto;
    margin: 0d 4%;
    display: flex;
    flex-direction: column;
}

.Item-toogle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: .7rem;
    height: 5rem;
}

.Item-toogle button {
    outline: none;    
    border: none;
    background-color: rgb(241,229,202);
    padding: .7rem 3rem;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease-in;
    border: 1px solid white;
}

.Item-toogle button:hover{
    color: blue;
    background-color: rgb(241,229,202);
    border: 1px solid blue;
}

.women-item{
    margin-left: 1rem;
}

@media (min-width:1900px) {

    .body-container{
    align-items: center;
    justify-content: center;
}
    .Products-list{
    width: auto;
    height: 100vh;
    width: 1800px;
    background-color: #fff;
    box-shadow: 3px 3px 23px 16px rgba(44, 128, 124, 0.34);
    display: flex;
    flex-direction: column;
}
} 

@media (max-width:750px) {
    .Item-toogle button{
        padding: .5rem 2rem;
    }
}
@media (max-width:500px) {
    .Tittle-section{
    height: 4rem;
}
}
@media (max-width:300px) {
    .Item-toogle button{
        padding: .5rem 1rem;
    }
    .Item-toogle{
        height: 3.5rem;
    }
}

