*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.cart {
    position: fixed;
    top: 10;
    left: 40;
    width: 300px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.562);
}